@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fredoka&family=Mynerve&display=swap');
/*
font-family: 'Bungee Shade', cursive;
font-family: 'Fredoka', sans-serif;
font-family: 'Mynerve', cursive;
*/
html{
  scroll-behavior: smooth;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    padding: 0px;
    flex: 50%;
  }
  
  .flex-item-right {
    padding: 0px;
    flex: 50%;
  }
  

  @media (max-width: 1000px) {
    .flex-container {
      flex-direction: column;
    }
}