@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fredoka&family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Waiting+for+the+Sunrise&family=Yatra+One&display=swap');
/*
font-family: 'Bungee Shade', cursive;
font-family: 'Fredoka', sans-serif;
font-family: 'Mynerve', cursive;
*/
html{
  scroll-behavior: smooth;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left50 {
    padding: 0px;
    flex: 50%;
  }
  
  .flex-item-right50 {
    padding: 0px;
    flex: 50%;
  }
  

  @media (max-width: 1000px) {
    .flex-container {
      flex-direction:column-reverse;
    }
}

.flex-container-social {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 21px;
  margin-bottom: 40px;
}

.flex-container-social>div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 82px;
  font-size: 40px;
}

.social-link {
  display: block;
  padding: 0px;
  width: 70px;
  height: 70px;
  transform: scale(1);
  transition: all 0.4s;
}

.social-link:hover {
  transform: scale(1.4);
  transition: all 0.2s;
}